@charset "utf-8";
$BSP:8px;
$disp-size:$BSP*188;
$BSDS: $disp-size/7*5;
$mainColor:#56fbbf;
$subColor:$mainColor + #303030;
$TOPC_BSDS:$BSDS - $BSP*28- $BSP*3*2;
body{
	margin: 0;
	padding: 0;
	font-family:"Yu Gothic","MS Gothic","Osaka－等幅","Osaka-mono","monospace",sans-serif;
	ul{
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
		}
	}
		padding:$BSP*2 $disp-size/7 0;
		background-color:$mainColor;
		li{
			vertical-align:middle;
		}
		#logo{
			width:$BSP*75;
			margin-right:32*$BSP;
			#symbol{
				width:$BSP*13;
				padding-right:$BSP*2;
				margin-top:$BSP;
			}
			h1{
				color:white;
				font-weight:500;
				font-size:$BSP*5.5;
			}
		}
		#linker{
			#siteMap{
				
			}
			#searchInSite{
				margin-top:$BSP;
			}
		}
}