body {
  margin: 0;
  padding: 0; }
  body header {
    margin-left: 160px; }
    body header #titleLogo #logo {
      width: 100px; }
      body header #titleLogo #logo #symbol {
        width: 100%; }
